


.footer{
    display: flex;
    padding: 20px;
    background-color: #6E8894;
    justify-content: center;
    align-items: flex-end;
    
}

.lista-uno{
    padding: 20px;
    margin: auto;


    h3{
        font-family: 'Unbounded', sans-serif;
        font-weight: 400;
        margin: 10px 0px;
    }

    li{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    
}

.lista-dos{
    padding: 20px;
    margin: auto;


    h3{
        font-family: 'Unbounded', sans-serif;
        font-weight: 400;
    }

    li{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    
}

