
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&family=Basic&family=Montserrat:wght@300;700&family=Unbounded:wght@400;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    overflow-x: hidden;
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-image: linear-gradient(to right, #afccd2,#486570 ,);
}

.logo{
    max-width: 5rem;
    object-fit: cover;
    
    
}

.abrir-menu{
    display: none;
}

.nav{

    padding: 2rem;

    .ul{
        display: flex;
        list-style-type: none;
        gap: 2rem;

       
        
    
        .li{
    

            
            
        
        
            .a{
                font-size: 1.5rem;
                text-decoration: none;
                color: #ececec;
                font-family: 'Unbound',sans-serif;
                font-weight: 700;

               
                
               
                
            }
           
        
        }
    
    }

    



}


.cerrar{
    display: none;
}

@media screen and (max-width: 700px){

    .abrir-menu{
        display: block;
        color: #1c1c1c;
        font-size: 2rem
    }
    .cerrar{
        display: block;
        color: #ececec;
        font-size: 2rem
    }

    button{
        
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    


    .nav{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 4rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
        transition: 0.3s all ease-in-out;
        z-index: 1;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    
    }
        
        
    
        .ul{
            flex-direction: column;
            align-items: end;
                
        }

            .li{

                .a{

                    color: #ececec;
                }

            }
            

            
        }            


// .main{
//     width: 100vw;
// } 

.imagen-fondo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background: url(../../img/pexels-tirachard-kumtanom-601171.jpg) no-repeat center center fixed ;
    background-size: cover;
    

    .texto{
        max-width: 55%;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10rem;
        mix-blend-mode: hard-light;
        opacity: 1;
    }

    span{
        font-size: 4rem;
        font-weight: 700;
        color: #ececec;
        
    }

    p{
        color: #ececec;
        font-size: 1.5rem;
        text-align: center;
    }

    .div-botones{
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        padding: 0px 20px;
    
        .botones{
            padding: 1rem;
            background-color: #1c1c1c;
            border-radius: 10px;
            border: none;
            text-transform: uppercase;
            color: #ececec;
            cursor: pointer;
            background: linear-gradient(to right top, #ea7317, #ee964b 50%, );
            flex-wrap:wrap;
            margin-right: 20px;
            
        }
    }
} 

@media screen and (max-width: 700px){
    
    .div-botones{
        flex-direction: column;
        padding: 0px 40px;
    
    
    .botones{
        padding:100px;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
}
}
