

.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    h2{
        font-family: 'Unbounded',sans-serif;
    }
    box-shadow: 0px -2px 20px 20px rgba(0, 0, 0, 0.5);
}

.servicios-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

    i{
        font-size: 3rem;
        

    }
}

.servicios-div{
    max-width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
    margin-bottom: 60px;

    h3{
        font-family: 'Unbounded', sans-serif;
        font-weight: 600;
        font-style: italic;
        text-align: left;
    }

    p{
        margin:20px 0px;
        font-family:'Montserrat',sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.4;
    }

    button{
        position: absolute;
        bottom: 0px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        background: linear-gradient(to right, #BFCDE0,#6888B6 );
        font-family: 'Unbounded',sans-serif;
        font-weight: 700;
        transition: .3s all ;
    
        &:hover{
            transform: scale(1.1);
            background: #BFCDE0;
        }
    }
}

@media (min-width:850px){
    .servicios-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        
        align-items: start;
    }

    .servicios-div{
        align-items: baseline;
        
    }
    i{
        margin-top: 10px;
    }
    
 }